<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @order.dish_id %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @order.phone_num %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
