<p id="notice"><%= notice %></p>

<p>
<%= image_tag(@dish.ImageURL, size: "200x180") %>
</p>

<p>
  <strong>Dish name:</strong>
  <%= @dish.dish_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<%= render :partial=>"new_order", :locals=>{:order=>Order.new(:dish_id=>@dish.id)} %>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
